{% extends "layout.html" %} 
{% block content %}

    <section class="login-main">
        <div class="login-container">
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4">Edit Profile</legend>
                    {{ p_form.as_p }} 
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update Profile</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}