{% extends "layout.html" %} 
{% block content %}
    <div class="content-section">
      <div class="media">
        {% if user.profile.profile_picture %}
          <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          {% if user.profile.bio %}
            <p class="text-muted">{{ user.profile.bio }}</p>
          {% endif %}
          {% if user.profile.location %}
            <p class="text-muted">Location: {{ user.profile.location }}</p>
          {% endif %}
          {% if user.profile.favorite_reptile %}
            <p class="text-muted">Favorite Reptile: {{ user.profile.favorite_reptile }}</p>
          {% endif %}
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Profile</legend>
            {{ p_form.as_p }} 
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
        </div>
    </form>
    </div>
{% endblock content %}