{% extends "layout.html" %} 
{% block content %}
    <div class="content-section">
      <div class="media">
        {% if user.profile.profile_picture %}
          <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          {% if user.profile.bio %}
            <p class="text-muted">{{ user.profile.bio }}</p>
          {% endif %}
          {% if user.profile.location %}
            <p class="text-muted">Location: {{ user.profile.location }}</p>
          {% endif %}
          {% if user.profile.favorite_reptile %}
            <p class="text-muted">Favorite Reptile: {{ user.profile.favorite_reptile }}</p>
          {% endif %}
        </div>
      </div>
      <a href="{% url 'profiles:edit_profile' %}" class="btn btn-outline-info">Edit Profile</a>
    </div>
{% endblock content %}