/* Ubuntu Font Family */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* General Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu';
    color: black;
    background-color: yellow;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.header{
    background-color: yellow;
    box-shadow: 1px 1px 5px 0px gray;
    position: sticky;
    top: 0;
    width: 100%;
    height: 82px;
    z-index: 99;
}
/* Logo */
.logo{
    display: inline-block;
    color: black;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: yellow;
    overflow: hidden;
    right: 0;
    border-bottom-left-radius: 25px;
    margin-top: 13px;
    /* Nav Box-Shadow for consistent styling */
    box-shadow: 
    /* Horizontal Offset | Vertical Offset | Blur Radius | Spread Radius | Color */
    0px 5px 5px -5px rgba(0, 0, 0, 0.5), /* Bottom shadow */
    -5px 0px 5px -5px rgba(0, 0, 0, 0.5); /* Left shadow */
    max-height: 0px;
    transition: max-height .5s ease-out;
}
.menu a{
    display: block;
    padding: 30px;
    color: black;
    transition: 0.3s ease-in-out;
}
.menu a:hover{
    background-color: darkgreen;
    color: white;
    transition: 0.3s ease-in-out;
}

.horizontal-line {
    display: block;
    left: 10px;
    width: 80%;
    border-top: 2px solid black;
}
  
.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 80%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Nav menu Desktop */

.desktop-nav, .desktop-user-links {
    display: none;
}

/* body:has(.side-menu:checked) {
  overflow: hidden;
} */

/* Main Content Area */

.flex {
    display: flex;
    justify-content: center;
}

.hero-container {
    width: 100%;
    padding: 50px;
    background: rgb(0, 185, 0);
}

.hero-title {
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.desc {
    margin-top: 20px;
}

/* Home Page User Registration / Login Styling */

.users-container {
    background-color: darkgreen;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;

}.users-container a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 25px 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.users-container a:hover {
    transform: scale(1.01);
    color: black; 
    background-color: #FFD700; 
    box-shadow: 4px 4px 4px black;
}

#registered-user-message {
    color: white;
    font-size: 3rem;
}

#registered-user-message span {
    color: yellow;
    text-shadow: 1px 1px 1px white;
}

/* Posts Lists Styling */

.page-title {
    padding: 50px;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    background-color: rgba(0, 185, 0);
    text-transform: uppercase;
}

.posts-container {
    background-color: rgba(0,0,0,0.8);
    border-radius: 25px;
    box-shadow: -1px -1px 5px 0px gray;
    height: 100%;
    padding-top: 50px;
    margin: 50px;
    text-align: center;
}
.posts-container > h2 {
    font-size: 3rem;
    color: white;
}

.posts-list {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    width: 100%;
    padding: 50px;
    text-align: center;
}

.post {
    background-color: yellow;
    align-content: center;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px 15px;
    padding: 20px;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
   
    display: -webkit-box; /* Old WebKit browsers */
    display: -moz-box;    /* Old Firefox browsers */ 
    display: box;         /* Standard */ 
    line-clamp: 3; 
    box-orient: vertical; 
}

.post h2 {
    margin-bottom: 20px;
}

.image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.date-stamp {
    margin: 25px 0;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    bottom: 0;
}

/* Individual Posts */
.post-page {
    color: white;
    display: flex;
    background-color: rgba(0, 255, 115, 0.897);
    justify-content: center;
}

.post-card {
    margin: 2rem;
    width: 90%;
    border: 3px solid black;
    background-color: darkgreen;
    padding: 2rem;
    border-radius: 25px;
    font-size: 1.2rem;
}

#post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#post-info p {
    background-color: #00e900;
    border-radius: 25px;
    padding: 2rem;
    width: 70%;
    text-shadow: 1px 1px 1px darkgreen;
    font-size: 0.8rem;
}

.post-profile {
    margin: 1rem;
    background-color: yellow;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
}

.post-profile {
    color: black;
    text-decoration: none;
    text-shadow: none;
}

.post-profile img {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
    vertical-align: middle;
    margin-left: 10px;
}

/* .post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#post-comments {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
}

#post-comments h3,
#post-comments form {
    margin-top: 10px;
}

#post-comments form button {
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid white;
}

#post-comments textarea[name="body"] { 
    display: block !important; 
}

#comment-form-wrapper textarea {
    display: block !important; 
    width: 100%; 
    height: 100px; 
}

.comment {
    background-color: yellow;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.comment-author {
    font-weight: bolder;
}

.comment-body {
    background-color: rgb(43, 255, 0);
    border-radius: 5px;
    padding: 5px;
}

.comment-date {
    font-style: italic;
}

.post-header i {
    left: 0;
    background-color: yellow;
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 6px;
    padding-left: 10px;
    width: 115px;
    height: 30px;
    cursor: pointer;
    color: black;
}

.post-page h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.post-image {
    width: 100%;
    max-width: 700px;
    border-radius: 25px;
    border: 3px solid black;
    margin-bottom: 25px;
}

/* Registration Form */

.helptext {
    color: blue;
}

.errorlist {
    color: red;
}

/* Profile Page */

.account-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.content-section {
    padding: 1rem;
    background-color: green;
}

.profile-banner {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 35px;
    padding: 2rem;
    border: 1px solid black;
    color: white;
}

.profile-description {
    background-color: white;
    border-radius: 25px;
    padding:0.5rem 0.5rem 2rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-description > p{
    margin-bottom: 0.9rem;
}

.profile-description > a {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.btn-edit {
    background-color: red;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
}

.btn-edit:hover,
.btn-outline-info:hover {
    background-color: rgb(104, 104, 255);
    transition: 0.1s ease-in-out;
    border-color: white;
}

.profile-description > a:hover {
    background-color: rgb(253, 67, 67);
    color: yellow;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

/* Edit Profile Page */

.edit-profile-section {
    height: 100%;
    background-color: green;
    width: 50%;
}

.edit-profile-section > form {
    padding: 1rem 5rem 2rem 5rem;
}

.edit-profile-section > form > div {
    margin-top: 1rem;
}

#id_location,
#id_favorite_reptile,
#id_profile_picture {
    margin: 2rem 0.5rem;
    text-align: center !important;
    color: black;
}

#id_bio {
    margin-top: 2rem;
}

label { 
    color: black;
    margin-left: 2rem;
}

fieldset {
    border: none;
}

fieldset > legend {
    position: relative;
    text-align: center;
}

fieldset > p {
    color: yellow;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset > p > label {
    color: black;
}

fieldset > p > input {
    color: black;
    padding: 0.5rem 20%;

}

fieldset > p > a {
    color: blue;
}

fieldset > * {
    background-color: yellow;
    border-radius: 20px;
    padding: 1rem 0;
    color: black;
}

textarea {
    border-radius: 5px;
    padding: 0.5rem;
}

#profile_picture-clear_id {
    display: none;
}

/* Login Page */

.login-container {
    position: relative;
    width: 80%;
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    margin: 2rem;
    padding: 2rem 0.5rem;
    border-radius: 25px;
}

.login-container h1 {
    background-color: greenyellow;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.login-container > form > div,
.login-container > form > p,
.login-container > form > fieldset > p {
    background-color: rgb(1, 185, 1);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.login-container > form > div > label,
.login-container > form > p > label,
.login-container > form > fieldset > p > label  {
    color: black;
    margin: 2rem;
    background-color: yellow;
    padding: 0.5rem;
    border-radius: 10px;
}

.login-container > form > fieldset > p > textarea,
.login-container > form > fieldset > p > input,
.login-container > form > fieldset > p > label {
    width: 80%;
}

.login-container > form > div > input,
.login-container > form > p > input,
.login-container > form > fieldset > p > input  {
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
}

.login-container > form > div > button {
    width: 20%;
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 15px;
    background-color: yellow;
}

.login-container > form > fieldset > legend {
    background-color: darkgreen;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
}

.login-main {
    display: flex;
    justify-content: center;
    background-color: darkgreen;
}

.form-submit {
    background-color: rgb(0, 189, 0);
    padding: 1rem;
    border-radius: 25px;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.form-submit:hover {
    background-color: green;
}

/* Register Page */

.register-section {
    text-align: center;
    padding: 2rem;
}

.register-container > h1 {
    margin: 2rem;
}

#id_username_helptext,
#id_password1_helptext,
#id_password2_helptext {
    margin: 2rem;
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid blue;
}

/* About Page */

.about-body {
    background-color: yellow;
    text-align: center;
}

.about-body > * {
    margin-top: 15px;
}

.about-body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-body p {
    margin-top: 10px;
    padding: 25px;
}

.about-main > h1 {
    color: black;
}


.about-body ul li {
    margin-top: 5px;
    color: white;
    background-color: #005600;
    width: 100%;
    max-width: 60%;
    border-radius: 12px;
    padding: 5px;
}

.about-main img {
    max-width: 250px;
    border-radius: 50px;
}


/* Reptiles Pages */

.reptile-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    background-color:rgb(76, 255, 76);
}
  
.reptile-item {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 25px;
    margin: 25px;
    padding: 10px;
    text-align: center;
}
  
.reptile-item img {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height:  300px;
    object-fit: cover; 
}

.reptile-item p {
    font-weight: bold;
}

.reptile-name {
    background-color: black;
    border-radius: 25px;
}

.reptile-name a {
    padding: 10px;
    text-decoration: none;
    background-color: yellow;
    color: black;
    border-radius: 20px;
}

.add-reptile {
    background-color: black;
    border: 2px solid yellow;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 50px;
    transition: 0.3s ease-in-out;
}

.add-reptile:hover {
    background-color: yellow;
    border: 2px solid black;
    color: black;
    scale: 1.01;
    transition: 0.3s ease-in-out;
}

/* Footer */

footer {
    background-color: yellow;
    box-shadow: -1px -1px 5px 0px gray;
}

.social-icons > a {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
} 

.copyright {
    margin-left: 50px;
    text-align: left;
    padding: 1rem 0;
    color: black;
}

.version {
    text-align: right;
    margin-right: 50px;
}

/* Support Page */

.support {
    padding: 35px;
    background-color: darkgreen;
}

.support-banner {
    background-color: #fed216;
    border-radius: 15px;
    padding: 20px;
}

.support-banner img {
    width: 300px;
    margin-left: 25px;
}

.support-banner p {
    text-align: center;
    margin: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.support-details {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 315px;
    border-radius: 15px;
    padding: 20px;
}

.support-link {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.support-link p strong {
    background-color: darkgreen;
    border-radius: 7px;
    color: white;
    padding: 5px;
}

@media screen and (max-width: 460px) {
    #post-info .post-profile img {
        display: none;
    }
}

.support-description {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px;
    font-weight: bolder;
}


@media screen and (min-width: 500px) {

    .post-header h1 {
        font-size: 2rem;
    }

    #post-info p {
        font-size: 1.2rem;
    }

    #post-info .post-profile img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {

    .about-main img {
        max-width: 500px;
    }

    .login-container {
        width: 70%;
    }

    /* Individual Posts */

    .post-header h1 {
        font-size: 2.5rem;
    }

    .body-field,
    #post-info p {
        font-size: 1.4rem;
    } 


    
    #post-info .post-profile img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 992px) {
    /* Navbar */
    .desktop-nav, .desktop-user-links {
        display: block;
    }

    .side-menu,
    .hamb,
    .nav {
        display: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-nav {
        width: 30%;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-between;
    }

    .desktop-user-links {
        margin-right: 50px;
    }

    .desktop-user-links a {
        margin-right: 25px;
    }

    .dark-button {
        color: white;
        background-color: black;
        padding: 5px 20px;
        border-radius: 4px;
    }

    .hero-title > h1 {
        font-size: 3rem;
    }
    .hero-title > p,
    .desc {
        font-size: 1.5rem;
    }

    /* Home page User Area */

    .users-container {
        display: none;
    }

    .users-container a {
    padding: 35px 55px;
    font-size: 1.5rem;
    }



    /* Posts List */
    /* .posts-list {
            flex-direction: row;
            align-items: flex-start;
    } */

    .post {
        overflow: hidden;
        max-height: 900px;
        height: 100%;
        transition: 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post:hover {
        transform: scale(1.02);
        transition: 0.3s ease-in-out;
    }

    .post h2 {
        min-height: 70px;
    }

    .post img {
        display: block;
        max-width: 100%;
        height: auto;    
    }

    .post .body-field {
        min-height: 60px;
    }


    .read-more:hover {
        background-color: #005600;
    }

    /* Individual Posts */
    .post-page {
        text-align: center;
    }

    .post-card {
        max-width: 70%;
    }

    .post-header h1 {
        font-size: 3rem;
        margin-bottom: 80px;
    }

    #post-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-container {
        width: 50%;
    }
}