{% extends 'layout.html' %}

{% block title %}
    Reptiles List
{% endblock %}

{% block content %}
  <h1 class="page-title">- Reptiles -</h1>

  <a href="{% url 'reptiles:add_reptile' %}" class="add-reptile">Add Reptile</a>

  <div class="reptile-list grid"> 
    {% for reptile in reptiles %}
      <div class="reptile-item col-12 col-md-6 col-lg-4"> 

        {% if reptile.reptile_picture %}
        <a href="{% url 'reptiles:reptile_detail' pk=reptile.pk %}"><img class="image" src="{{ reptile.reptile_picture.url }}" alt="{{ reptile.name }}"></a>
        {% else %}
          {% comment %} <img src="{% static '/media/snake.jpeg' %}" alt="Default Reptile Image">  {% endcomment %}
        {% endif %}

        <h2 class='reptile-name'><a href="{% url 'reptiles:reptile_detail' pk=reptile.pk %}">{{ reptile.name }}</a></h2> 
        <p>Owner: <a href="../../profile/{{ reptile.user.username }}">{{ reptile.user.username }}</a></p>
        
      </div>
    {% endfor %}
  </div>

{% endblock %}