{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <section class="about">
        <h1 class="page-title">- ABOUT -</h1>
        <div class="about-body">
            <p>Reptile Corner is a vibrant online community dedicated to reptile enthusiasts of all levels, from seasoned herpetologists to those who simply appreciate these fascinating creatures. Born from the popular Facebook group, Sammy's Snake Corner, Reptile Corner expands on its predecessor's success by offering a dedicated app for reptile lovers to connect, share, and learn.</p>
            <div class="about-main">
                <img src="../media/Gemini_Generated_Image_wr0kr4wr0kr4wr0k.jpeg" alt="">
                <h1 id="features"><strong>Key Features:</strong></h1>
                <ul>
                    <li>
                        <strong>Share your passion:</strong> Post photos and videos of your reptile pets, showcasing their unique personalities and stunning beauty.
                    </li>
                    <li>
                        <strong>Connect with fellow enthusiasts:</strong> Engage in discussions, ask questions, and share advice with a community of like-minded individuals.
                    </li>
                    <li>
                        <strong>Learn from experts:</strong> Access valuable resources and information on reptile care, breeding, and conservation.
                    </li>
                    <li>
                        <strong>Discover new species:</strong> Explore a vast database of reptile profiles, complete with stunning images and detailed information.
                    </li>
                    <li>
                        <strong>Track your pets' progress:</strong> Maintain a digital record of your reptiles' growth, health, and milestones.
                    </li>
                </ul>
            </div>
            <p>Reptile Corner is more than just an app; it's a thriving hub for reptile enthusiasts worldwide. Whether you're seeking advice on caring for your pet snake, looking to connect with other gecko enthusiasts, or simply want to admire the beauty of these amazing creatures, Reptile Corner is the perfect place to be. Download the app today and join our growing community!</p>
        </div>
    </section>
{% endblock %}