{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="hero-title">
            <h1>Reptile Corner</h1>
            <p>Welcome to The Reptile Corner!</p>
        </div>
        <p class="desc"><em>A place for reptile enthuasiasts to connect, share and learn about reptiles!</em></p>
    </div>
    <div class="posts-container">
        <h2>- LATEST -</h2>
        <section class="posts-list">
            {% for post in posts %}
                <article class="post">
                    <h2>
                        <a href="{% url 'posts:page' slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="body-field">{{ post.body }}</p>
                    <p class="date-stamp">{{ post.date }}</p>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}