<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Reptile Corner
        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/c15e7f6444.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid_classes.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <!-- Logo -->
        <a href="/" class="logo">RC</a>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Mobile Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'posts:list' %}">Posts</a></li>
                <li><a href="#">Reptiles</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/support">Support</a></li>
                <div class="line-container">
                    <span class="horizontal-line"></span>
                </div>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'posts:new-post' %}">Create Post</a></li>
                    <li><a href="{% url 'profiles:profile' user.username %}" class="logout-button">Profile</a></li>
                    <li><a href="{% url 'users:logout' %}" class="logout-button">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:register' %}">Register</a></li>
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- Larger Display Menu -->
         <div class="desktop-nav">
            <ul class="menu-desktop">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'posts:list' %}">Posts</a></li>
                <li><a href="#">Reptiles</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/support">Support</li>
            </ul>
         </div>
         <div class="desktop-user-links">
            {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}" class="logout-button">Logout</a>
                <a href="{% url 'profiles:profile' user.username %}" class="logout-button">Profile</a> 
                <a href="{% url 'posts:new-post' %}" class="dark-button">Create Post</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}" class="dark-button">REGISTER</a>
            {% endif %}
         </div>
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-container">
            <div class="social-icons grid">
                <a href="https://www.facebook.com" target="_blank" class="col-3">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com" target="_blank" class="col-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" class="col-3">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="col-3">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <p class="copyright">&copy; 2024 Reptile Corner</p> 
        </div>
    </footer>
</body>
</html>