{% extends 'layout.html' %}

{% block title %}
    Support
{% endblock %}

{% block content %}
    <section class="support grid">
        <div class="col-12 col-md-6">
            <div class="support-banner">
                <img src="../media/support.png" alt="Support">
                <p>We are here to support you if you need any help using
                    our website. Whether its online bullying / harrassment,
                    scams / spam, website bugs/glitches or just a simple enquiry 
                    reach out to our team who will be happy to help!
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="support-details grid">
                <div class="support-link col-12 col-md-6">
                    <p>
                        <strong>Email:</strong><br><br>
                        <a href="#">example@email.com</a>
                    </p>
                </div>
                <div class="support-link col-12 col-md-6">
                    <p>
                        <strong>Phone:</strong><br><br>
                        <a href="#">0121 121 1234</a>
                    </p>
                </div>
                <div class="support-link col-12 col-md-6">
                    <p>
                        <strong>Our Facebook:</strong><br><br>
                        <a href="#">Sammy's Snake Corner</a>
                    </p>
                </div>
                <div class="support-link col-12 col-md-6">
                    <p>
                        <strong>Our YouTube:</strong><br><br>
                        <a href="#">Sammy's Snake Corner</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="support-description col-12">
            <p>
                We understand that encountering issues online can be frustrating,
                 and we want to ensure you have a positive experience on our
                  platform. Our dedicated support team is committed to 
                  addressing your concerns promptly and effectively. 
                  Whether you're facing technical difficulties, have questions 
                  about our policies, or need assistance with any aspect of the 
                  website, please don't hesitate to reach out to us through the 
                  contact methods provided above. We value your feedback and are 
                  continuously working to improve our services 
                  to better serve our community.
            </p>
        </div>
    </section>
{% endblock %}