{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section class="post-page">
        <div class="post-card">
            <div class="grid">
                <div class="col-1">
                    <div class="post-header">
                        <i class="fa-solid fa-arrow-left" onclick="history.back()"> B A C K</i>
                    </div>
                </div>
                <div class="col-12">
                    <div class="post-header">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>
            <img class="post-image col-12" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="col-12">
                <p class="body-field">{{ post.body }}</p>
            </div>
            <div class="col-12" id="post-info">
                <p class="date-stamp">{{ post.date }}<br> by <br><br>
                    <span class="post-profile">
                        <a href="../profile/{{ post.author }}">{{ post.author }}</a>
                        {% if post.author.profile.profile_picture %}
                            <img src="{{ post.author.profile.profile_picture.url }}" alt="{{ post.author.username }}'s profile picture">
                        {% else %}
                            {% comment %} <img src="{% static 'images/default_profile_pic.jpg' %}" alt="Default profile picture">  {% endcomment %}
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </section>
{% endblock %}