{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <h1 class="posts-list-title">- POSTS -</h1>
    <section class="posts-list">
        {% for post in posts %}
            <article class="post">
                <h2>
                    <a href="{% url 'posts:page' slug=post.slug %}">
                        {{ post.title }}
                    </a>
                </h2>
                <img class="image" src="{{ post.image.url }}" alt="{{ post.title }}">
                <p class="body-field">{{ post.body }}</p>
                <p class="date-stamp">{{ post.date }} by {{ post.author }}</p>
                <a href="{% url 'posts:page' slug=post.slug %}" class="read-more">READ MORE</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}