{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section class="post-page">
        <div class="post-card">
            <div class="grid">
                <div class="col-1">
                    <div class="post-header">
                        <i class="fa-solid fa-arrow-left" onclick="history.back()"> B A C K</i>
                    </div>
                </div>
                <div class="col-12">
                    <div class="post-header">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>
            {% if post.image %}
                <img class="image" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <div class="col-12" id="post-text">
                <p class="body-field">{{ post.body|linebreaksbr }}</p>
            </div>
            <div class="col-12" id="post-comments">
                <h2>Comments</h2>
                {% for comment in comments %}
                    <div class="comment">
                        <p class="comment-author">{{ comment.author }}:</p>
                        <p class="comment-body">{{ comment.body }}</p>
                        <p class="comment-date">{{ comment.created }}</p>
                    </div>
                {% endfor %}
            
                {% if new_comment %}
                    <p>Your comment has been added.</p>
                {% else %}
                    <h3>Add a comment</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div id="comment-form-wrapper">  
                            <textarea name="body" cols="40" rows="10"></textarea> 
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-12" id="post-info">
                <p class="date-stamp">{{ post.date }}<br> by <br><br>
                    <span class="post-profile">
                        <a href="../profile/{{ post.author }}">{{ post.author }}</a>
                        {% if post.author.profile.profile_picture %}
                            <img src="{{ post.author.profile.profile_picture.url }}" alt="{{ post.author.username }}'s profile picture">
                        {% else %}
                            {% comment %} <img src="{% static 'images/default_profile_pic.jpg' %}" alt="Default profile picture">  {% endcomment %}
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </section>
{% endblock %}